#board-title h2 { margin-top: 0; }
.list-title > h3 { margin-top: 0; }
.card {
    padding: 8px;
    margin: 6px 0;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.add-list { color: #889988; cursor: pointer; }
.add-card { color: #889988; cursor: pointer; display: none; }
.well:hover .add-card, .well:hover .remove-list { display: inline; }
.remove-card, .remove-list { color: #998888; cursor: pointer; display: none; }
.card:hover .remove-card { display: inline; }
.inline-editor {
    display: none;
    width: 85%;
}
.list-title .inline-editor {
    font-size: 20px;
}
#board-title .inline-editor {
    font-size: 26px;
    width: 100%;
}