<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">boneyard</a>
    </div>
    <div id="navbar-region" class="navbar-collapse collapse">
    </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid" role="main">
    <div id="page-region"></div>
</div>